<nav *ngIf="totalPages > 1">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="pageNumber === 1">
      <button class="page-link" (click)="previous()">«</button>
    </li>

    <li 
      class="page-item" 
      *ngFor="let page of pages" 
      [class.active]="page === pageNumber">
      <button class="page-link" (click)="changePage(page)">
        {{ page }}
      </button>
    </li>

    <li class="page-item" [class.disabled]="pageNumber === totalPages">
      <button class="page-link" (click)="next()">»</button>
    </li>
  </ul>
</nav>
